@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&family=Open+Sans:wght@300;400;500&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
}

:root {
  --sherwood-green: #044434;
  --peppermint: #e8f8e5;
  --apple: #45b22d;
  --de-york: #87c17c;
  --cascade: #90b0a9;
  --feijoa: #a4d994;
  --vida-loca: #3cb423;
  --viridian-green: #5b8475;
  --mantis: #68c455;
}
