@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&family=Open+Sans:wght@300;400;500&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
}

h1,
h2 {
  color: var(--sherwood-green);
  text-align: center;
}

h3 {
  color: var(--nandor);
}

p {
  margin-top: 0;
  line-height: 1.5;
  color: var(--text);
}

a {
  text-decoration: none;
  color: var(--sherwood-green);
  font-weight: 500;
}

:root {
  --sherwood-green: #044434;
  /* --peppermint: #e8f8e5; */
  --peppermint: #f8fdf7;
  --apple: #45b22d;
  --de-york: #87c17c;
  --cascade: #90b0a9;
  --feijoa: #a4d994;
  --vida-loca: #3cb423;
  --viridian-green: #5b8475;
  --mantis: #68c455;
  --text: #171917;
  --nandor: #485855;
}

.divider {
  border-top: 1px solid var(--cascade);
  border-radius: 5px;
  margin: 3%;
}

@media (max-width: 540px) {
  h3 {
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  p {
    font-size: 18px;
  }
  h3 {
    font-size: 1.4rem;
  }
}

@media (min-width: 1024px) {
  p {
    font-size: 20px;
  }
}
